       /* New Message Input */
      .message-input-wrapper {
        position: relative;
        border-radius: 16px;
        padding: 1.5px;
        overflow: hidden;
        background: linear-gradient( to bottom right, #7e7e7e, #363636, #363636, #363636, #363636 );
      }
      .message-input-wrapper::after {
        position: absolute;
        content: "";
        top: -10px;
        left: -10px;
        background: radial-gradient( ellipse at center, #ffffff, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) );
        width: 30px;
        height: 30px;
        filter: blur(1px);
      }
      .message-input-inner {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        width: 100%;
        overflow: hidden;
      }
      .message-input-textarea {
        background-color: transparent;
        border: none;
        width: 100%;
        color: #ffffff;
        font-family: sans-serif;
        font-size: 14px;
        padding: 10px;
        resize: none;
        outline: none;
      }
       .message-input-textarea::placeholder {
        color: #f3f6fd;
        transition: all 0.3s ease;
      }
      .message-input-textarea:focus::placeholder {
        color: #363636;
      }
      .message-input-actions-btn {
        color: rgba(255, 255, 255, 0.4);
        transition: all 0.3s ease;
      }
      .message-input-actions-btn:hover {
        transform: translateY(-3px);
        color: #ffffff;
      }
      .message-input-submit-btn {
        padding: 2px;
        background-image: linear-gradient(to top, #292929, #555555, #292929);
        border-radius: 10px;
        box-shadow: inset 0 6px 2px -4px rgba(255, 255, 255, 0.5);
        transition: all 0.15s ease;
      }
      .message-input-submit-btn i {
        width: 30px;
        height: 30px;
        padding: 6px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        backdrop-filter: blur(3px);
        color: #8b8b8b;
      }
      .message-input-submit-btn svg { transition: all 0.3s ease; }
      .message-input-submit-btn:hover svg {
        color: #f3f6fd;
        filter: drop-shadow(0 0 5px #ffffff);
      }
      .message-input-submit-btn:focus-within svg {
        color: #f3f6fd;
        filter: drop-shadow(0 0 5px #ffffff);
        transform: scale(1.2) rotate(45deg) translateX(-2px) translateY(1px);
      }
      .message-input-submit-btn:active { transform: scale(0.92); }
      .message-input-tags span {
        padding: 4px 8px;
        background-color: #1b1b1b;
        border: 1.5px solid #363636;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
      }
